
// Gradient color
$gradient-first-color: #26c6da;
$gradient-second-color: #29b6f6;

// Background-color
$primary-background-color: #fdfdfd;

// Color white
$primary-white: #ffffff;
$secondary-white: #ededed;

// Color black
$primary-black: #373737;
$secondary-black: #686868;
$thirty-black: #818181;

// Border color buttonoutlined
$border-color-outlined: #919191;
$hover-border-color-outlined: #535353;
